*.a
*.o
*.log
*.tlog
test.dat
*.sw*
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
libraryTest/Makefile
libraryTest/libraryTest
library/Makefile

googletest/Makefile
googletest/googlemock/Makefile

# from googletest

# Ignore CI build directory
build/
xcuserdata
cmake-build-debug/
.idea/
bazel-bin
bazel-genfiles
bazel-googletest
bazel-out
bazel-testlogs

# python
*.pyc

#googletest extras

googletest/*.pc
googletest/**/CTestTestfile.cmake
googletest/googlemock/gtest/
